body {
    background-color: #edefed;
    font-family: 'Open Sans', sans-serif;
    color: #414042;
}

hr {
    margin-top: 15px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #dce0e0;
}
button{
    border:none;
    width: 50%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    
}
button:hover, a:hover {
    width: 52.5%;
    color: white;
    background-color: #a564d3;
}
input, select, button{
    height:30px;
    padding:5px;
    margin:5px;
    width: 200px;
}
.center{
    text-align: center;
    margin: 10px 0;
}
.logo{
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* // Nav // */
#nav{
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    list-style: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #76459e;

}
nav li{
    border-right: 1px solid #bbb;
    margin-left: auto;
    margin-right:auto;
    display: inline;
}
nav li a{
    display: inline-block;
    margin:0 10px;
    color:white;
    text-align: center;
    text-decoration: none;
    width: 15%;
    padding: 5px;
    padding-right:20px;

}
nav li a:hover{
    width:15%;
}


/* // Signup Form // */

.signup_form {
    display: block;
    margin: auto;
    width: 350px;
    background-color: white;
    padding: 10px;
}

.signup_form .form-group {
    padding: 25px;
    padding-bottom: 22px;
    margin-bottom: 0px;
}

/* Signup Inputs */

.form-group .form-control {
    margin: 5px 0;
    border-color: #dce0e0;
    border-radius: 0px;
    box-shadow: none;
}

/* Signup Disclaimer */

.sim_signup_disclaimer {
    margin: 10px 0;
}

/* Signup Register Button */

.form-group .btn {
    margin-left:;
    width: 100%;
    height: 70px;
    color: white;
    background-color: #76459e;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    font-weight: ;
    margin: auto;
}

.form-group .btn:hover {
    width: 100%;
    color: white;
    background-color: #a564d3;
}



.sim_already_member {
    line-height: 34px;
}

.sim_already_member .already{
    margin-left: 10px;
}

.sim_already_member .already_login {
    width: 100px;
    border-radius: 0px;
    border-color: #76459e;
    color: #76459e;
    margin-left: 10px;
}

.sim_already_member .already_login:hover {
    width: 100px;
    background: #76459e;
    color: white;
}


.sim_signup_login {
    display: block;
    margin: auto;
    margin-top: -15px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 350px;
    background-color: white;
    margin-bottom: 10px;
}

/* // Log in Form // */

.login_form {
    display: block;
    margin: auto;
    width: 350px;
    background-color: white;
    margin-top: 30px;
}
.login_form .form-group {
    padding: 25px;
    padding-bottom: 22px;
    margin-bottom: 0px;
}
#signupbut {
    margin: 0 auto;
    width: 350px;
    height: 80px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ;
    text-align: center;
    padding-top: 25px;
}

#signupbut:hover {
     width: 350px;
    color: white;
    background-color: #a564d3;
}

/* // update Form // */

.update_form {
    display: block;
    margin: auto;
    width: 350px;
    background-color: white;
}
.update_form .form-group {
    padding: 25px;
    padding-bottom: 22px;
}

/* // service bar // */

.service_form {
    display: block;
    margin: auto;
    width: 350px;
    background-color: white;
}
.service_form .form-group {
    padding: 25px;
    padding-bottom: 22px;
}
/* // post service page // */

#service_type{
    width: 96%;
}

/* // user page // */

#profile{
  background-color: #76459e;
  color:white;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  margin-bottom: 10px;

  }
#profileh2{
  font-size: 15px;

}
#update_div{
    display:none;
}
#update_profile, #viewfav{
   margin-left:;
    width: 55%;
    height: 40px;
    color: #76459e;
    background-color: white;
    font-size: 16px;
    font-weight: ; 
}
#update_profile:hover {
    width: 55%;
    color: white;
    background-color: #a564d3;
}
.uploadtitle{
    margin-left: 10px;
    padding-top: 10px;
}

.logout{
    width:350px;
    height:50px;
    background-color:#76459e;
    color:#fff;
    margin-top:30px;
    padding:10px;
    text-align: center;
    font-size:18px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.logout:hover{
    cursor:pointer;
    color: white;
    background-color: #a564d3;
}
/* // search page // */

#service_type{
    width: 300px;
}
#search_type{
   margin-left:;
    width: 20%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
#search_type:hover {
    width: 20%;
    color: white;
    background-color: #a564d3;
}
/* // user service page // */

#EditDiv, #EditCommentsDiv{
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:500px;
    height:600px;
    margin:auto;
    padding:10px;
    z-index:5;
    background-color:#fff;
    box-shadow: 20px 20px 20px #999
}
#title{
    font-size: 20px;
    color:#66cccc;
}
#postbytitle{
    margin-left: 20px;
}
.edit, .delete, .confirm, .showcomments{
   margin-left:;
    width: 45%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
.edit:hover, .delete:hover, .confirm:hover, .showcomments:hover {
    width: 45%;
    color: white;
    background-color: #a564d3;
}
#new_desc{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#new_price{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#new_area{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#new_type{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/* // all service page // */

#allsertitle{
    margin-left: 20px;
}
.service_div{
    display:inline-block;
    width:500px;
    background-color:#fff;
    color:#66cccc;
    border-radius:5px;
    border: 1px outset #fff;
    box-shadow:5px 5px 10px #999;
    margin:15px;
    padding:15px;
}
.serv_title{
    font-size: 12px;
    color: #76459e;
}
.serv_title:hover{
    cursor:pointer;
    color:#a564d3;

}
.servimg{
    width:200px;
    height:auto;
}
#viewuser{
   margin-left:;
    width: 55%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
#viewuser:hover {
    width: 55%;
    color: white;
    background-color: #a564d3;
}
#fav{
   margin-left:;
    width: 55%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
#fav:hover {
    width: 55%;
    color: white;
    background-color: #a564d3;
}
#viewuserposts{
   margin-left:;
    width: 70%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
#viewuserposts:hover {
    width: 70%;
    color: white;
    background-color: #a564d3;
}
#backtopost{
   margin-left:;
    width: 70%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
#backtopost:hover {
    width: 70%;
    color: white;
    background-color: #a564d3;
}
#info{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:400px;
    height:600px;
    margin:auto;
    padding:10px;
    z-index:5;
    background-color:#fff;
    box-shadow: 20px 20px 20px #999
}
#info, #no-comments, #user_info{
    display:none;
    overflow-y: scroll;
}
#no-post{
    display:none;
}
#profileimg{
    width:200px;
    height:auto;
}
#infotitle{
    font-size: 20px;
    color:#66cccc;
}

/* // all fav page // */

#CommentsDiv{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:400px;
    height:600px;
    margin:auto;
    padding:10px;
    z-index:5;
    background-color:#fff;
    box-shadow: 20px 20px 20px #999
}
#commentstitle{
    font-size: 20px;
    color:#66cccc;
}
#favtitle{
    margin-left: 20px;
}
.viewbut{

   margin-left:;
    width: 45%;
    height: 40px;
    color: white;
    background-color: #76459e;
    font-size: 16px;
    font-weight: ; 
}
.viewbut:hover {
    width: 45%;
    color: white;
    background-color: #a564d3;
}    

/* // all pop up // */

#close, #CloseEditCommentsDiv{
    float:right;
}
.img_title, #close{
    cursor:pointer;
    color: #76459e;
}
#close:hover, #CloseEditCommentsDiv:hover{
    cursor:pointer;
    color:#a564d3;

}
.typetitle{
    font-size: 20px;
}


  