<div id="display" ng-controller='favouritesControl'>
    <h1 id="favtitle">{{serviceName}}</h1>
    <div class="service_div" id="{{service.serv_id}}" ng-repeat='service in services'>
        <img class="servimg" src="uploads/{{service.serv_img}}"/>
        <h2 class="typetitle">Type: {{service.serv_type}}</h2>
        <p>Description: {{service.serv_desc}}</p>
        <h3 class="typetitle">Price: ${{service.serv_price}}</h3>
        <p>Area: {{service.serv_area}}</p>
        <button class="viewbut" id="{{service.serv_id}}" ng-click="comments(service.serv_id)">View Comments</button>

        <button class="viewbut" id="{{service.serv_id}}" ng-click="delete(service.serv_id)">Delete From Favourites</button>
        
    </div>
    <h2 id="no_fav"></h2>
</div>