<div id="display" ng-controller='allServiceControl'>
    <h1 id="allsertitle">{{serviceName}}</h1>
    <div class="service_div" id="{{service.serv_id}}" ng-repeat='service in services'>
        <img class="servimg" src="uploads/{{service.serv_img}}"/>
        <h2 class="typetitle">Type: {{service.serv_type}}</h2>
        <h3 class="typetitle" >Price: ${{service.serv_price}}</h3>
        <h3 class="serv_title" id="{{service.serv_id}}">View This Post --></h3>
    </div>

    <!-- pop up div to show service description -->
    <div id="info" style="height: none; position: fixed">
        <div id="close">X</div>
        <div id="service_info">
            <img id="servimg" class="servimg"/>
            <h3 class="info-labels">TYPE:</h3>
            <h2 id="infotitle"></h2>
            <h3 class="info-labels">DESCRIPTION:</h3>
            <h4 id="infodesc"></h4>
            <h3 class="info-labels">AREA:</h3>
            <h4 id="infoarea"></h4>
            <h3 class="info-labels">PRICE:</h3>
            <h4 id="infoprice"></h4>
            <h3 class="info-labels">POSTED BY:</h3>
            <h4 id="infouser"></h4>
            <button id="viewuser">VIEW PROFILE</button>
            <button id="fav">ADD TO FAVOURITES</button>
        </div>

        <div id="comments">
            <h3 class="info-labels">COMMENTS:</h3>
            <div id="display_comments"></div>
            <h5 id="no-comments">Looks like there are no comments for this service</h5>
            <div class="form-group">
                <input class="form-control" id="CommentInput" placeholder="Comment..."/>
                <button class="btn btn-default comm_sub_but" id='CommentSubmit'>SUBMIT COMMENT</button>
            </div>
        </div>
        <div id="user_info">
            <img id="profileimg"/>
            <h3 class="info-labels">USERNAME:</h3>
            <h4 id="username"></h4>
            <h3 class="info-labels">FIRST NAME:</h3>
            <h4 id="firstname"></h4>
            <h3 class="info-labels">LAST NAME:</h3>
            <h4 id="lastname"></h4>
            <h3 class="info-labels">EMAIL:</h3>
            <h4 id="email"></h4>
            <button id="viewuserposts">VIEW USER'S OTHER POSTS</button>
            <button id="backtopost">GO BACK TO POST</button>

        </div>
    </div>
</div>