<!DOCTYPE html>
<html>
    <head>
        <title>Add New Service</title>
    </head>
    <body>
        <input type="text" id="serv_type" placeholder="Service Type"/><br/>
        <input type="text" id="serv_desc" placeholder="Service Description"/><br/>
        <input type="text" id="serv_price" placeholder="Service Price"/><br/>
        <input type="text" id="serv_area" placeholder="Service Area"/><br/>
        <button id="serv_sub">Create New Service Post</button>
        <hr/>
        <div id="display"></div>
        
    
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script>
            var userid = "1";
            $(document).ready(function(){
                document.getElementById("serv_sub").onclick = function(){
                
                    $.ajax({
                        url:"../controller/services_c.php",
                        dataType:"json",
                        type:"POST",
                        data:{
                            method:"insert_serv",
                            serv_type:document.getElementById("serv_type").value,
                            serv_desc:document.getElementById("serv_desc").value,
                            serv_price:document.getElementById("serv_price").value,
                            serv_area:document.getElementById("serv_area").value,
                            user_id:userid
                        },
                        success:function(resp){
                            console.log(resp);
                            console.log("post inserted");
                        }
                        
                    });
                }   
            });
        </script>
    </body> 
</html>