<!DOCTYPE html>
<html>
    <head>
        <title>Add New Service</title>
    </head>
    <body>
        <input type="text" id="serv_type" placeholder="Service Type"/><br/>
        <input type="text" id="serv_desc" placeholder="Service Description"/><br/>
        <input type="text" id="serv_price" placeholder="Service Price"/><br/>
        <input type="text" id="serv_area" placeholder="Service Area"/><br/>
        <button id="serv_sub">Create New Service Post</button>
        <hr/>
        <div id="display"></div>
        
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        var userid = "1";
        $(document).ready(function(){
            document.getElementById("serv_sub").onclick = function(){
                //console.log("click");
                //console.log(document.getElementById("serv_type").value);
                $.ajax({
                   url:"../controller/services_c.php",
                    dataType:"JSON",
                    type:"POST",
                    data:{
                        method:"insert_serv",
                        type:document.getElementById("serv_type").value,
                        desc:document.getElementById("serv_desc").value,
                        price:document.getElementById("serv_price").value,
                        area:document.getElementById("serv_area").value,
                        user_id:userid
                    },
                    success:function(resp){
                        console.log(resp);

                    },
                    error:function(){
                        console.log("error");
                    }
                }); 
            }   
        });
    </script>

</html>