<!DOCTYPE html>
<html ng-app="sharnMaid">
    <head>
        <meta charset="UTF-8"/>
        <title>Shar'n Maid | Services</title>

        <style>
            body{
                font-family:sans-serif;
            }
            input, select, button{
                height:30px;
                padding:5px;
                margin:5px;
            }
            .service_div{
                display:inline-block;
                width:500px;
                background-color:#fff;
                color:#66cccc;
                border-radius:5px;
                border: 1px outset #fff;
                box-shadow:5px 5px 10px #999;
                margin:15px;
                padding:15px;
            }
        </style>
    </head>
    
    <body>
        <select id='service_type' placeholder='SERVICE TYPE' required autofocus>
            <option value="STUDIO">STUDIO</option>
            <option value="ONE BEDROOM APARTMENT">ONE BEDROOM APARTMENT</option>
            <option value="TWO OR MORE BEDROOMS APARTMENT">TWO OR MORE BEDROOMS APARTMENT</option>
            <option value="ONE BEDROOM TOWN HOUSE">ONE BEDROOM TOWN HOUSE</option>
            <option value="TWO OR MORE BEDROOM TOWN HOUSE">TWO OR MORE BEDROOM TOWN HOUSE</option>
            <option value="DETACHED HOME">DETACHED HOME</option>
        </select>
        <input id='service_desc' placeholder='SERVICE DESCRIPTION' required/>
        <input id='service_price' type='text' placeholder='SERVICE PRICE' required/>
        <input id='service_area' type='text' placeholder='SERVICE AREA' required/>
        <button id='submit'>SUBMIT SERVICE</button>
        <hr/>

        <div id="display" ng-controller='serviceControl'>
            <h1>{{serviceName}}</h1>
            <div class="service_div" id="{{service.serv_id}}" ng-repeat='service in services'>
                <h2>Type: {{service.serv_type}}</h2>
                <p>Description: {{service.serv_desc}}</p>
                <h3>Price: ${{service.serv_price}}</h3>
                <p>Area: {{service.serv_area}}</p>
                <p>Posted By: {{service.username}}</p>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>
        
    
        var thisApp = angular.module("sharnMaid", []);
        
        thisApp.controller("serviceControl", ["$scope", function($scope){
            $scope.serviceName = "Services:";            

            setInterval(function(){
                $.ajax({
                    url:"../controller/service_c.php",
                    dataType:"json",
                    type:"POST",
                    data:{
                        method:"get_service",
                    },
                    success:function(resp){
                        console.log(resp);
                        $scope.$apply(function(){
                            $scope.services = resp;
                        });


                        /*
                        for (i=0; i<resp.length; i++){
                            var display = document.getElementById("display");
                            var service_div = document.createElement("div");
                            service_div.id = "service_div";
                            var h2 = document.createElement("h2");
                            h2.innerHTML = "Service Type: "+resp[i].serv_type;
                            var desc = document.createElement("p");
                            desc.innerHTML = "Description: "+resp[i].serv_desc;
                            var price = document.createElement("h3");
                            price.innerHTML = "Price: "+resp[i].serv_price;
                            var area = document.createElement("h4");
                            area.innerHTML = "Area(s): "+resp[i].serv_area;
                            var user = document.createElement("p");
                            user.innerHTML = "Posted By: "+resp[i].username;
                            service_div.appendChild(h2);
                            service_div.appendChild(desc);
                            service_div.appendChild(price);
                            service_div.appendChild(area);
                            service_div.appendChild(user);
                            display.appendChild(service_div);
                        }*/
                    }
                });
            },1000);
            
        }]);

        $(document).ready(function(){
            document.getElementById("submit").onclick = function(){
                console.log("submit service post");
                $.ajax({
                    url:"../controller/service_c.php",
                    dataType:"json",
                    type:"POST",
                    data:{
                        method:"insert_service",
                        type:document.getElementById("service_type").value,
                        desc:document.getElementById("service_desc").value,
                        price:document.getElementById("service_price").value,
                        area:document.getElementById("service_area").value,
                        user_id:1,
                    },
                    success:function(resp){
                        alert("service submitted");
                        console.log(resp);
                        
                    }
                    
                });
            }
        });
          
             
        
    </script>

</html>