<div id="display" ng-controller='otherUserServiceControl'>
    <h1 id="allsertitle">{{serviceName}}</h1>
    <div class="service_div" id="{{service.serv_id}}" ng-repeat='service in services'>
        <img class="servimg" src="../uploads/{{service.serv_img}}"/>
        <h2 class="typetitle">Type: {{service.serv_type}}</h2>
        <h3 class="typetitle" >Price: ${{service.serv_price}}</h3>
        <h3 class="serv_title" id="{{service.serv_id}}">View This Post --></h3>
    </div>

    <div id="info">
        <div id="close">X</div>
        <div id="service_info">
            <img id="servimg" class="servimg"/>
            <h3 class="info-labels">TYPE:</h3>
            <h2 id="infotitle"></h2>
            <h3 class="info-labels">DESCRIPTION:</h3>
            <h4 id="infodesc"></h4>
            <h3 class="info-labels">AREA:</h3>
            <h4 id="infoarea"></h4>
            <h3 class="info-labels">PRICE:</h3>
            <h4 id="infoprice"></h4>
            <h3 class="info-labels">POSTED BY:</h3>
            <h4 id="infouser"></h4>
            <button id="fav">ADD TO FAVOURITES</button>
        </div>

        <div id="comments">
            <h3 class="info-labels">COMMENTS:</h3>
            <h5 id="no-comments">Looks like there are no comments for this service</h5>
        </div>
    </div>
</div>