<!DOCTYPE html>
<html ng-app="sharnMaid">
    <head>
        <meta charset="UTF-8"/>
        <title>Shar'n Maid | Services</title>
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/styles.css" rel="stylesheet">
        <style>
            #EditDiv{
                display:none;
                position:fixed;
                top:0;
                bottom:0;
                left:0;
                right:0;
                width:500px;
                height:600px;
                margin:auto;
                padding:10px;
                z-index:5;
                background-color:#fff;
                box-shadow: 20px 20px 20px #999
            }
        </style>
    </head>
    
    <body>
        <img class="logo" src="../images/logo.png" alt="Shar'n Maids">
        <div id="display" ng-controller='serviceControl'>
            <h1 id="postbytitle">{{serviceName}}</h1>
            <div class="service_div" id="{{service.serv_id}}" ng-repeat='service in services'>
                <h2 id="title">Type: {{service.serv_type}}</h2>
                <p>Description: {{service.serv_desc}}</p>
                <h2 id="title">Price: ${{service.serv_price}}</h2>
                <p>Area: {{service.serv_area}}</p>
                <button class="edit" id="{{service.serv_id}}">Edit This Post</button>
                <button class="edit" id="{{service.serv_id}}" ng-click="delete(service.serv_id)">Delete This Post</button>
                
            </div>
            <h2 id="no_post"></h2>
            <div id="EditDiv">
                <div id="close"><i aria-hidden="true">X</i></div>
                <label for="new_type">New Service Type:</label><br/>
                <select id='new_type' placeholder='NEW SERVICE TYPE' required autofocus>
                    <option value="STUDIO">STUDIO</option>
                    <option value="ONE BEDROOM APARTMENT">ONE BEDROOM APARTMENT</option>
                    <option value="TWO OR MORE BEDROOMS APARTMENT">TWO OR MORE BEDROOMS APARTMENT</option>
                    <option value="ONE BEDROOM TOWN HOUSE">ONE BEDROOM TOWN HOUSE</option>
                    <option value="TWO OR MORE BEDROOM TOWN HOUSE">TWO OR MORE BEDROOM TOWN HOUSE</option>
                    <option value="DETACHED HOME">DETACHED HOME</option>
                </select>
                <br/>
                <label for="new_desc">New Description:</label><br/>
                <input id="new_desc" placeholder="NEW DESCRIPTION"/><br/>
                <label for="new_price">New Price:</label><br/>
                <input id="new_price" placeholder="NEW PRICE"/><br/>
                <label for="new_area">New Area:</label><br/>
                <input id="new_area" placeholder="NEW AREA"/><br/>
                <button class="edit" id="update_edits">CONFIRM EDITS</button>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>
        
    
        var thisApp = angular.module("sharnMaid", []);
        
        thisApp.controller("serviceControl", ["$scope", function($scope){
            $scope.serviceName = "Services Posted By You:";
            
            console.log("User ID: "+sessionStorage.user_id);
            $.ajax({
                url:"../controller/service_c.php",
                dataType:"json",
                type:"POST",
                data:{
                    method:"get_user_service",
                    user_id:sessionStorage.user_id,
                },
                success:function(resp){
                    console.log(resp);

                    if (resp.length == 0){
                        document.getElementById("no_post").innerHTML = "Looks like you haven't posted anything yet!";
                    }
                    $scope.$apply(function(){
                        $scope.services = resp;
                    });

                    $scope.delete = function(servId){
                        $.ajax({
                            url:"../controller/service_c.php",
                            type:"POST",
                            dataType:"JSON",
                            data:{
                                method:"delete_service",
                                serv_id:servId
                            },
                            success:function(resp1){
                                location.reload();
                                console.log("deleted service");

                            }
                        });
                    }

                    $(".edit").click(function(){
                        var serv_id = this.id;
                        console.log(serv_id);
                        document.getElementById("EditDiv").style.display = "block";
                        document.getElementById("update_edits").onclick = function(){
                            
                            $.ajax({
                                url:"../controller/service_c.php",
                                type:"POST",
                                dataType:"JSON",
                                data:{
                                    method:"update_service",
                                    serv_id:serv_id,
                                    new_type:document.getElementById("new_type").value,
                                    new_desc:document.getElementById("new_desc").value,
                                    new_area:document.getElementById("new_area").value,
                                    new_price:document.getElementById("new_price").value,
                                },
                                success:function(resp2){
                                    location.reload();
                                    console.log("updated service");
                                },
                                error:function(error){
                                    console.log(error);
                                }
                            });
                        }

                    });
                        

                        
                        

                        
                
                    /*$(".serv_title").click(function(){
                        var id = this.id;
                        console.log(id);
                        $.ajax({
                           url:"../controller/service_c.php",
                            type:"POST",
                            dataType:"JSON",
                            data:{
                                method:"view_one_service",
                                serv_id:id,
                            },
                            success:function(resp1){
                                console.log(resp1);
                                var div = document.createElement("div");
                                div.id = "info";
                                document.body.appendChild(div);

                                var close = document.createElement("div");
                                close.innerHTML = "close";
                                close.id = "close";
                                div.appendChild(close);

                                var h2 = document.createElement("h2");
                                h2.innerHTML = "Type: "+resp1[0].serv_type;
                                div.appendChild(h2);

                                var desc = document.createElement("h4");
                                desc.innerHTML = "Desc: "+resp1[0].serv_desc;
                                div.appendChild(desc);

                                var area = document.createElement("h4");
                                area.innerHTML = "Area: "+resp1[0].serv_area;
                                div.appendChild(area);

                                var price = document.createElement("h4");
                                price.innerHTML = "Price: $"+resp1[0].serv_price;
                                div.appendChild(price);

                                var c_head = document.createElement("h3");
                                c_head.innerHTML = "Comments:";
                                div.appendChild(c_head);

                                var delete_button = document.createElement('button');
                                delete_button.innerHTML = 'DELETE THIS POST';
                                div.appendChild(delete_button);*/
                                
                                /*$.ajax({
                                    url:"../controller/comment_c.php",
                                    dataType:"JSON",
                                    type:"POST",
                                    data:{
                                        method:"get_comment_single_serv",
                                        serv_id:id
                                    },
                                    success:function(resp2){
                                        console.log(resp2);

                                        if (resp2.length == 0){
                                            var comment = document.createElement("h4");
                                            comment.innerHTML = "There's no comment for this service";
                                            div.appendChild(comment);
                                        }
                                        
                                        for (i=0;i<resp2.length;i++){

                                            var comment = document.createElement("h4");
                                            comment.innerHTML = resp2[i].text;
                                            div.appendChild(comment);
                                        }
                                        
                                         close.onclick = function(){
                                            div.removeChild(h2);
                                            //div.removeChild(img);
                                            div.removeChild(desc);
                                            div.removeChild(area);
                                            div.removeChild(price);
                                            
                                            div.removeChild(comment);
                                            //div.removeChild(no_comment);
                                            div.removeChild(c_head);
                                            document.body.removeChild(div);
                                        }   
                                    }
                                });*/
                    /*        }
                        });

                    });*/
                }
            });
        }]);

          
             
        
    </script>

</html>