<div class="form-group">
    <form class="service_form" role="form">
        <select id='service_type' placeholder='SERVICE TYPE' required autofocus>
            <option value="STUDIO">STUDIO</option>
            <option value="ONE BEDROOM APARTMENT">ONE BEDROOM APARTMENT</option>
            <option value="TWO OR MORE BEDROOMS APARTMENT">TWO OR MORE BEDROOMS APARTMENT</option>
            <option value="ONE BEDROOM TOWN HOUSE">ONE BEDROOM TOWN HOUSE</option>
            <option value="TWO OR MORE BEDROOM TOWN HOUSE">TWO OR MORE BEDROOM TOWN HOUSE</option>
            <option value="DETACHED HOME">DETACHED HOME</option>
        </select>
        <input class="form-control" id='service_desc' placeholder='Service Description' required/>
        <input class="form-control" id='service_price' type='text' placeholder='Service Price' required/>
        <input class="form-control" id='service_area' type='text' placeholder='Service Area' required/>
        <h3>Upload a profile image</h3>
        <input id="ServiceImg" type="file" placeholder="IMAGE"/>
        <button class="btn btn-default" id='submit'>SUBMIT SERVICE</button>
    </form>
</div>

<script>
    var myfiles = document.getElementById("ServiceImg");
    var submit = document.getElementById("submit");

    submit.onclick = function(e){
        e.preventDefault();

        console.log(sessionStorage.user_id);
        var formData = new FormData();
      
        var allFiles = myfiles.files;
      
        for (var i = 0; i<allFiles.length; i++){
            var file = allFiles[i];
          
            if(file.type.match("image/*")){
              formData.append("images[]", file, file.name);
              formData.append ("userid", sessionStorage.user_id);
            } else {
              alert("IMAGE ONLY!!!");
              return false;
            }
        }
      
        var xhr = new XMLHttpRequest();
      
        xhr.open("POST", "upload.php", true);
      
        xhr.onload = function(){
            if(xhr.status == 200){
                alert("Loaded upload.php successfully");
            }
            if(xhr.status == 404){
                alert("Page Not Found!");
            }
        }
       
        xhr.send(formData);
      
        console.log(myfiles.files);
        console.log(myfiles.files[0].name);

        console.log("submit service post");
        console.log("user id: "+sessionStorage.user_id);
        console.log(sessionStorage.user_id+"/"+myfiles.files[0].name);

        $.ajax({
            url:"controller/service_c.php",
            dataType:"json",
            type:"POST",
            data:{
                method:"insert_service",
                type:document.getElementById("service_type").value,
                desc:document.getElementById("service_desc").value,
                price:document.getElementById("service_price").value,
                area:document.getElementById("service_area").value,
                img_url:sessionStorage.user_id+"/"+myfiles.files[0].name,
                user_id:sessionStorage.user_id,
            },
            success:function(resp){
                alert("service submitted");
                console.log(resp);
                
            }
        });
    }
</script>