<!DOCTYPE html>
<html>
    <head>
        <title>Shar'n Maid | Update Profile</title>
    </head>
    <body>
        <input id='username' type='text' placeholder='USERNAME'/>
        <input id='password' type='password' placeholder='PASSWORD'/>
        <input id='firstname' type='text' placeholder='FIRSTNAME'/>
        <input id='lastname' type='text' placeholder='LASTNAME'/>
        <input id='email' type='text' placeholder='EMAIL'/>
        <input id='address' type='text' placeholder='ADDRESS'/>
        <input id='city' type='text' placeholder='CITY'/>
        <!--<button id='loginbut'>Login</button>-->
        <hr/>
        <div id='updateUserDiv'></div><button id='update_userbut'>UPDATE USERNAME</button>
        <div id='profile'>
        </div>
    
    </body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'></script>
    <script>
    </script>
</html>