<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <img class="logo" src="../images/logo.png" alt="Shar'n Maids">
    <form class="signup_form" role="form">
        <div class="form-group">
            <input class="form-control" type='text' id='firstname' placeholder='First name' />
            <input class="form-control" type='text' id='lastname' placeholder='Last name' />
            <input class="form-control" type='text' id='username' placeholder='Username' />
            <input class="form-control" type='password' id='password' placeholder='Password' />
            <input class="form-control" type='text' id='email' placeholder='Email address' />
            <input class="form-control" type='text' id='address' placeholder='Address' />
            <input class="form-control" type='text' id='city' placeholder='City' />
            <div class="sim_signup_disclaimer">
                <small>By clicking "Register" you confirm that the above information is correct, and that you agree to sell your soul to us as stated in our <a>Terms of Service </a>and you can't ever get it back. Also, your name will forever be declared "Purple Eyez Kirby".
                </small>
            </div>
            <button class="btn btn-default" id='sub'>Register</button>
            <hr>
        </div>
    </form>
    <div class="sim_signup_login">
        <div class="sim_already_member clearfix">
            <span class="col-sm-7 already">Already sold your soul?</span>
            <a class="btn btn-default col-sm-3 already_login">Log in</a>
        </div>
    </div>

</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        //when button is clicked insert into db
        document.getElementById("sub").onclick = function(e){
            e.preventDefault();
            $.ajax({
               url:"../controller/user_c.php",
                dataType:"html",
                type:"POST",
                data:{
                    method:"insert_user",
                    firstname:document.getElementById("firstname").value,
                    lastname:document.getElementById("lastname").value,
                    username:document.getElementById("username").value,
                    password:document.getElementById("password").value,
                    email:document.getElementById("email").value,
                    address:document.getElementById("address").value,
                    city:document.getElementById("city").value,
                    profileimg:"../images/profile_placeholder.png",
                },
                success:function(resp){
                    alert("USER CREATED");
                    window.location = "./user_login.html";
                }
            });
        }
    });
</script>
</html>