<div ng-controller="userControl">
    <!-- display user profile -->
    <div id='profile' ng-repeat="profile in profiles">
        <img id="profileimg" src="uploads/{{profile.profileimg}}"/>
        <h2 id="username">USERNAME: {{profile.username}}</h2>
        <h2 id="firstname">FIRST NAME: {{profile.firstname}}</h2>
        <h2 id="lastname">LASTNAME: {{profile.lastname}}</h2>
        <h2 id="email">EMAIL: {{profile.email}}</h2>
        <h2 id="address">ADDRESS: {{profile.address}}</h2>
        <h2 id="city">CITY: {{profile.city}}</h2>
        <button id="update_profile">UPDATE PROFILE</button>
        <a href="favourites_all"><div class="button"> View My Favourites</div></a>
    </div>

    <!--update-->
    <div id="update_div" class="form-group">
        <div class="update_form">
            <h3 class="uploadtitle">Upload a profile image</h3>
            <input id="ProfileImg" type="file" placeholder="YOUR PROFILE IMAGE"/>
            <button class="btn btn-default" id="upload">UPLOAD PROFILE IMAGE</button>
        </div>

        <form class="update_form" role="form">
            <input class="form-control" id='updated_username' type='text' placeholder='Username'/>
            <input class="form-control" id='updated_password' type='password' placeholder='Password'/>
            <input class="form-control" id='updated_firstname' type='text' placeholder='Fist Name'/>
            <input class="form-control" id='updated_lastname' type='text' placeholder='Last name'/>
            <input class="form-control" id='updated_email' type='email' placeholder='Email'/>
            <input class="form-control" id='updated_address' type='text' placeholder='Address'/>
            <input class="form-control" id='updated_city' type='text' placeholder='City'/>

            <button class="btn btn-default" id='update_userbut'>UPDATE USER</button>
        </form>
    </div>
</div>

<!-- This is the script for uploading image -->
<script>

    var myfiles = document.getElementById("ProfileImg");
    var upload = document.getElementById("upload");

    upload.onclick = function(e){
        e.preventDefault();

        console.log(sessionStorage.user_id);
        var formData = new FormData();
        
        var allFiles = myfiles.files;
        
        for (var i = 0; i<allFiles.length; i++){
            var file = allFiles[i];
            
            if(file.type.match("image/*")){
                formData.append("images[]", file, file.name);
                formData.append ("userid", sessionStorage.user_id);
            } else {
                alert("IMAGE ONLY!!!");
                return false;
            }
        }
        
        var xhr = new XMLHttpRequest();
        
        xhr.open("POST", "upload.php", true);
        
        xhr.onload = function(){
            if(xhr.status == 200){
                alert("Image Prepared Successfully");
            }
            if(xhr.status == 404){
                alert("Page Not Found!");
            }
        }
        
        xhr.send(formData);
        
        console.log(myfiles.files);
        console.log(myfiles.files[0].name);
        console.log(sessionStorage.user_id+"/"+myfiles.files[0].name);
        
        $.ajax({
            url:"controller/user_c.php",
            type:"POST",
            dataType:"JSON",
            data:{
                method:"update_profile_img",
                user_id:sessionStorage.user_id,
                img_url:sessionStorage.user_id+"/"+myfiles.files[0].name
            },
            success:function(resp){
                console.log("Image Updated");
            }
        });
    
    }
</script>