<!DOCTYPE html>
<html>
    <head>
        <title>Shar'n Maid | Profile</title>
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/styles.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>
        <style>
            h2{
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <img class="logo" src="../images/logo.png" alt="Shar'n Maids">
        <form class="login_form" role="form">
            <div class="form-group">
                <input class="form-control" id='username' type='text' placeholder='Username'/>
                <input class="form-control" id='password' type='password' placeholder='Password'/>
                <button class="btn btn-default" id='loginbut'>Login</button>
            <hr/>
            </div>
        </form>
    </body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'></script>
    <script src='../js/angular.min.js'></script>
    <script>
        $(document).ready(function(){
            
            //var user_id = -1;
            var editDiv = null;
            //USER LOGIN
            document.getElementById("loginbut").onclick = function(e){
                e.preventDefault();
                //ajax
                console.log(document.getElementById("username").value);

                $.ajax({
                    url:"../controller/user_c.php",
                    dataType:"json",
                    type:"POST",
                    data:{
                        method:"user_logged_in",
                        username:document.getElementById("username").value,
                        password:document.getElementById("password").value,
                    },
                    success:function(resp){
                        alert("USER LOGGED IN!");
                        console.log(resp[0]);
                        sessionStorage.user_id = resp[0].user_id;
                        window.location.assign("./user_profile.html");
                        
                           /*var br = document.createElement("br");
                           var profile = document.getElementById("profile");
                           profile.id = "profile";
                           //profile.innerHTML = resp;
                           
                           var profileimg = document.createElement("img");
                           profileimg.id = "profileimg";
                           profileimg.src = "../uploads/"+resp[0].profileimg;
                           profile.appendChild(profileimg);

                           var username = document.createElement("h2");
                           username.innerHTML = "Username : " + resp[0].username;
                           profile.appendChild(username);
                           profile.appendChild(br);
                           var firstname = document.createElement("h2");
                           firstname.innerHTML = "First name : " + resp[0].firstname;
                           profile.appendChild(firstname);
                           profile.appendChild(br);
                           var lastname = document.createElement("h2");
                           lastname.innerHTML = "Last Name : " + resp[0].lastname;
                           profile.appendChild(lastname);
                           profile.appendChild(br);
                           var email = document.createElement("h2");
                           email.innerHTML = "Email : " + resp[0].email;
                           profile.appendChild(email);
                           profile.appendChild(br);
                           var address = document.createElement("h2");
                           address.innerHTML = "Address : " + resp[0].address;
                           profile.appendChild(address);
                           profile.appendChild(br);
                           var city = document.createElement("h2");
                           city.innerHTML = "City : " + resp[0].city;
                           profile.appendChild(city);
                           profile.appendChild(br);*/

                          /* document.getElementById("update_userbut").onclick = function(e){
                               e.preventDefault();
                    //update the username
                              console.log("click");
                             $.ajax({
                                 url:"../controller/user_c.php",
                                 type:"POST",
                                 dataType:"json",
                                 data:{
                                     method:"update_user",
                                     user_id:resp[0].user_id,
                                     username:document.getElementById("updated_username").value,
                                     password:document.getElementById("updated_password").value,
                                     firstname:document.getElementById("updated_firstname").value,
                                     lastname:document.getElementById("updated_lastname").value,
                                     email:document.getElementById("updated_email").value,
                                     address:document.getElementById("updated_address").value,
                                     city:document.getElementById("updated_city").value,
                                     profileimg:document.getElementById("updated_profileimg").value
                                 },
                                 
                                 success:function(resp){
                                     //console.log(resp);
                                     alert("UPDATED!");
                                     //editDiv.innerHTML = document.getElementById("user_input").value
                                 }
                             });
                        }*/
                    } 
                });
            }
        });
    </script>
</html>