<div class="form-group">
    <form class="login_form" role="form">
        <input class="form-control" id='username' type='text' placeholder='Username'/>
        <input class="form-control" id='password' type='password' placeholder='Password'/>
        <button class="btn btn-default" id='loginbut'>Login</button>
    </form>
    <p>--------- or ---------</p>
    <a href="user_signup"><div class="btn">Sign Up!</div></a>
</div>

<script>
    //USER LOGIN
    document.getElementById("loginbut").onclick = function(e){
        e.preventDefault();
        console.log(document.getElementById("username").value);

        $.ajax({
            url:"controller/user_c.php",
            dataType:"json",
            type:"POST",
            data:{
                method:"user_logged_in",
                username:document.getElementById("username").value,
                password:document.getElementById("password").value,
            },
            success:function(resp){
                /*alert("USER LOGGED IN!");*/
                console.log(resp[0]);
                sessionStorage.user_id = resp[0].user_id;
                window.location = "service_all";
            } 
        });
    }
    document.getElementById("logout").onclick = function(){
        sessionStorage.clear();
        alert("logged out, session cleared");
        location.reload();
    }
</script>