<!DOCTYPE html>
<html ng-app="sharnMaid">
    <head>
        <meta charset="UTF-8"/>
        <title>Shar'n Maid | Services</title>
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/styles.css" rel="stylesheet">
        <style>
            body{
                font-family:sans-serif;
            }
            input, select, button{
                height:30px;
                padding:5px;
                margin:5px;
                width: 200px;
            }
            button{
               margin-left:;
                width: 30%;
                height: 40px;
                color: white;
                background-color: #76459e;
                font-size: 16px;
                font-weight: ; 
            }
            button:hover {
                width: 30%;
                color: white;
                background-color: #a564d3;
            }
            .service_div{
                display:inline-block;
                width:500px;
                background-color:#fff;
                color:#66cccc;
                border-radius:5px;
                border: 1px outset #fff;
                box-shadow:5px 5px 10px #999;
                margin:15px;
                padding:15px;
            }
            #EditDiv{
                position:fixed;
                top:0;
                bottom:0;
                left:0;
                right:0;
                width:500px;
                height:600px;
                margin:auto;
                padding:10px;
                z-index:5;
                background-color:#fff;
                box-shadow: 20px 20px 20px #999
            }
            #close{
                float:right;
            }
            #close{
                cursor:pointer;
                color: #76459e;
            }
             #close:hover{
                cursor:pointer;
                color:#a564d3;

            }
            #title{
                font-size: 20px;
                color:#66cccc;
            }
        </style>
    </head>
    
    <body>
        
        <div id="display" ng-controller='serviceControl'>
            <h1>{{serviceName}}</h1>
            <div class="service_div" id="{{service.serv_id}}" ng-repeat='service in services'>
                <h2 id="title">Type: {{service.serv_type}}</h2>
                <p>Description: {{service.serv_desc}}</p>
                <h2 id="title">Price: ${{service.serv_price}}</h2>
                <p>Area: {{service.serv_area}}</p>
                <button id="{{service.serv_id}}" ng-click="edit(service.serv_id)">Edit This Post</button>
                <button id="{{service.serv_id}}" ng-click="delete(service.serv_id)">Delete This Post</button>
                
            </div>
            <h2 id="no_post"></h2>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>
        
    
        var thisApp = angular.module("sharnMaid", []);
        
        thisApp.controller("serviceControl", ["$scope", function($scope){
            $scope.serviceName = "Services Posted By You:";
            
            console.log(sessionStorage.user_id);
            $.ajax({
                url:"../controller/service_c.php",
                dataType:"json",
                type:"POST",
                data:{
                    method:"get_user_service",
                    user_id:sessionStorage.user_id,
                },
                success:function(resp){
                    console.log(resp);

                    if (resp.length == 0){
                        document.getElementById("no_post").innerHTML = "Looks like you haven't posted anything yet!";
                    }
                    $scope.$apply(function(){
                        $scope.services = resp;
                    });

                    $scope.delete = function(servId){
                        $.ajax({
                            url:"../controller/service_c.php",
                            type:"POST",
                            dataType:"JSON",
                            data:{
                                method:"delete_service",
                                serv_id:servId
                            },
                            success:function(resp1){
                                location.reload();
                                console.log("deleted service");

                            }
                        });
                    }

                    $scope.edit = function(servId){
                        console.log(servId);
                        var div = document.createElement("div");
                        div.id = "EditDiv";
                        document.body.appendChild(div);

                        var close = document.createElement("div");
                        close.innerHTML = "X";
                        close.id = "close";
                        div.appendChild(close);

                        var type = document.createElement("input");
                        type.value = resp[0].serv_type;
                        div.appendChild(type);

                        var desc = document.createElement("input");
                        desc.value = resp[0].serv_desc;
                        div.appendChild(desc);

                        var area = document.createElement("input");
                        area.value = resp[0].serv_area;
                        div.appendChild(area);

                        var price = document.createElement("input");
                        price.value = resp[0].serv_price;
                        div.appendChild(price);

                        var update_button = document.createElement('button');
                        update_button.innerHTML = 'CONFIRM EDITS';
                        div.appendChild(update_button);

                        update_button.onclick = function(){
                            console.log(servId, type.value, desc.value, area.value, price.value);
                            $.ajax({
                                url:"../controller/service_c.php",
                                type:"POST",
                                dataType:"JSON",
                                data:{
                                    method:"update_service",
                                    serv_id:servId,
                                    new_type:type.value,
                                    new_desc:desc.value,
                                    new_area:area.value,
                                    new_price:price.value,
                                },
                                success:function(resp2){
                                    location.reload();
                                    console.log("updated service");
                                },
                                error:function(error){
                                    console.log(error);
                                }
                            });
                        }
                        

                        close.onclick = function(){
                            div.removeChild(type);
                            div.removeChild(desc);
                            div.removeChild(area);
                            div.removeChild(price);
                            div.removeChild(update_button);
                            document.body.removeChild(div);
                        }   
                    }
                    /*$(".serv_title").click(function(){
                        var id = this.id;
                        console.log(id);
                        $.ajax({
                           url:"../controller/service_c.php",
                            type:"POST",
                            dataType:"JSON",
                            data:{
                                method:"view_one_service",
                                serv_id:id,
                            },
                            success:function(resp1){
                                console.log(resp1);
                                var div = document.createElement("div");
                                div.id = "info";
                                document.body.appendChild(div);

                                var close = document.createElement("div");
                                close.innerHTML = "close";
                                close.id = "close";
                                div.appendChild(close);

                                var h2 = document.createElement("h2");
                                h2.innerHTML = "Type: "+resp1[0].serv_type;
                                div.appendChild(h2);

                                var desc = document.createElement("h4");
                                desc.innerHTML = "Desc: "+resp1[0].serv_desc;
                                div.appendChild(desc);

                                var area = document.createElement("h4");
                                area.innerHTML = "Area: "+resp1[0].serv_area;
                                div.appendChild(area);

                                var price = document.createElement("h4");
                                price.innerHTML = "Price: $"+resp1[0].serv_price;
                                div.appendChild(price);

                                var c_head = document.createElement("h3");
                                c_head.innerHTML = "Comments:";
                                div.appendChild(c_head);

                                var delete_button = document.createElement('button');
                                delete_button.innerHTML = 'DELETE THIS POST';
                                div.appendChild(delete_button);*/
                                
                                /*$.ajax({
                                    url:"../controller/comment_c.php",
                                    dataType:"JSON",
                                    type:"POST",
                                    data:{
                                        method:"get_comment_single_serv",
                                        serv_id:id
                                    },
                                    success:function(resp2){
                                        console.log(resp2);

                                        if (resp2.length == 0){
                                            var comment = document.createElement("h4");
                                            comment.innerHTML = "There's no comment for this service";
                                            div.appendChild(comment);
                                        }
                                        
                                        for (i=0;i<resp2.length;i++){

                                            var comment = document.createElement("h4");
                                            comment.innerHTML = resp2[i].text;
                                            div.appendChild(comment);
                                        }
                                        
                                         close.onclick = function(){
                                            div.removeChild(h2);
                                            //div.removeChild(img);
                                            div.removeChild(desc);
                                            div.removeChild(area);
                                            div.removeChild(price);
                                            
                                            div.removeChild(comment);
                                            //div.removeChild(no_comment);
                                            div.removeChild(c_head);
                                            document.body.removeChild(div);
                                        }   
                                    }
                                });*/
                    /*        }
                        });

                    });*/
                }
            });
        }]);

          
             
        
    </script>

</html>